* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.nav-links{
    list-style: none; /*removes bullet points from nav list */
    display: flex;
}

a {
    text-decoration: underline; /*adds underlines from links */
    color: black;
}

.nav-links li{
    margin: 0 1rem;/*adds horizontal spacing between links */
    margin-left: auto;
    font-size: x-large;
    cursor: pointer;

}

.nav-links a{
    padding: 14px 20px;/*makes the links easier to click and provides visual spacing */
    color: yellowgreen;
    transition: all 200ms ease-in;
}
.nav-links a:hover{
    color: white;
}



.logo-image {
    margin-right: auto;
}

.navbar{
    display: flex;
    justify-content: space-between; /* pushes logo to the left, links to the right*/
    align-items: center; /*vertically centers items within the navbar */
    height: 70px;
    background-color: #333;
    padding: 0 20px;

}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (image1.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/image1_3.jpg");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text{
    text-align: center;
    text-size-adjust: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e11515;

}

.hero-text:first-child{
    font-size: x-large;
    font-weight: bolder;

}

h1{
    text-shadow: 7px 7px 7px black;
    margin: 0 auto;
    font-size: 150px;
    font-weight: bolder;
    width: 1000px;
}

.tagline{
    padding: 50px;
    font-size: 50px;
    font-style: italic;
    color: wheat;
    margin: 0 auto;
}

